@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
    --Font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}


.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url('./images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-size: contain;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  --Light-grayish-blue: hsl(240, 5%, 91%);
  --Font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background-color: #6862e6;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 60px 120px 60px  0px;
}

.flat-icon {
  position: relative;
  left: -7%;
}

.box {
  position: absolute;  
  top: 50%;
  left: -2%;
  transform: translateY(-30%);
}

.paragraph {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.attribution {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  color: #bdc3f5;
}
.attribution a {
  color: hsl(268, 70%, 25%);
}
